[Unit]
Description=Energy Grid Simulation Service
After=network.target

[Service]
User=grid
Group=grid
Type=simple
WorkingDirectory=/opt/energy-grid/

ExecStart=/opt/energy-grid/run-grid.sh

Restart=no
RestartSec=5

[Install]
WantedBy=multi-user.target
